asgiref==3.8.1
astroid==3.3.10
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
dill==0.4.0
Django==5.2.1
django-mathfilters==1.0.0
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
isort==6.0.1
mando==0.7.1
Markdown==3.8
mccabe==0.7.0
platformdirs==4.3.8
pylint==3.3.7
pymdown-extensions==10.15
PyYAML==6.0.2
radon==6.0.1
requests==2.32.3
six==1.17.0
smmap==5.0.2
sqlparse==0.5.3
tomlkit==0.13.2
tzdata==2025.2
urllib3==2.4.0
